.headerLogo {
	height: 100%;
	font-family: 'Cellblock NBP';
	font-weight: 700;
	text-shadow: 2px 2px 2px var(--white);
	font-size: 30px;
	color: var(--white);
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: color ease 0.3s;
}

.headerLogo:hover {
	animation: glitch 1s linear infinite;
	color: var(--yellow);
}

.headerLogo:hover::before {
	animation: glitch 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both infinite;
	color: var(--yellow);
}

.headerLogo:hover:after {
	animation: glitch 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) reverse both infinite;
}

@media all and (min-width: 768px) {
	.headerLogo {
		font-size: 75px;
	}
}

.headerLogo:before,
.headerLogo:after {
	display: block;
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
}

.headerLogo:before {
	color: #00FFFF;
	z-index: -1;
}

.headerLogo:after {
	color: #FF00FF;
	z-index: -2;
}

@keyframes glitch {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	to {
		transform: translate(0);
	}
}